<%= render "shared/header" %>

<% @halls.each do |hall| %>
  <ul>
    <li>
      <%= link_to hall_management_path(hall), class: 'edit-hall' do %>
        <div class="hall-name">
          <p>名前</p>
          <%= hall.name %>
        </div>
        <%= hall.category.name %>
        <%= hall.count.name %>
        
      <% end %>
    </li>
  </ul>
<% end %>