<%= render "shared/header" %>

<%= image_tag @hall.image if hall.image.present? %>
<%= @hall.name %>
<% if @hall.detail.present? %>
  <div class="hall-detail">
    <p>詳細</p>
    <%= @hall.detail %>
  </div>
<% end %>

<%= link_to '編集する',  edit_hall_management_path(@hall), class: "register-new-btn" %>
