<%= render "shared/header" %>
<div class="menu-function-backimage">
  
  <%= link_to '登録する', new_menu_path, class: "" %>
  
  <% @menus.each do |menu| %>
      <ul class=''>
        <li>
          <%= link_to edit_menu_path(menu), class: '' do %>
          <div class="">
            <p class="">名前</p>
            <%= menu.name %>
          </div>
          <div class="">
            <p class="">メニュー名</p>
            <%= menu.category.name %>
            <p class="">写真</p>
            <%= image_tag menu.image %>
            <p class="">メニューについて</p>
            <%= menu.information %>
          </div>
          <% end %>
        </li>
      </ul>
    <% end %>
    <%= render "shared/footer" %>

    </div>