<%= render "shared/header" %>
<div class="regularguest-function-backimage">
<%= form_with model: @regular_guest, class:"", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="">ゲストの名前
    <%= f.text_area :name, placeholder:'ゲストの名前' %>
    </div>
    <div class=''>ステータス
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:""}) %>
    </div>
    <div class=''>メンバーナンバー
      <%= f.text_area :member_number, class:"", placeholder:"メンバーナンバー" %>
    </div>
    <div class=''>その他の情報
      <%= f.text_area :information, class:"", placeholder:"ゲストに関する情報" %>
    </div>
      <%= f.submit "登録", class:"" %>
  </div>
      <%= link_to '削除', regular_guest_path(@regular_guest), method: :delete, class:'' %>
<% end %>
    <%= render "shared/footer" %>

</div>