<%= render "shared/header" %>
<div class="regularguest-function-backimage">
<div class="guest-form-wrapper">

    <%= form_with model: @regular_guest, class:"guest-form", local: true do |f| %>

    <p class="guest-form-title">新規ゲスト登録</p>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="guest-form-content">
        <p>ゲストの名前</p>
        <%= f.text_area :name, class:"guest-form-name",placeholder:'ゲストの名前' %>
      </div>
      <div class='guest-form-content'>
        <p class="guest-form-status-title">ステータス</p>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"guest-form-status"}) %>
      </div>
      <div class='guest-form-content'>
        <p>メンバーナンバー</p>
        <%= f.text_area :member_number, class:"guest-form-number", placeholder:"メンバーナンバー" %>
      </div>
      <div class='guest-form-content'>
        <p>その他の情報</p>
        <%= f.text_area :information, class:"guest-form-information", placeholder:"ゲストに関する情報" %>
      </div>

          <div class="guest-form-content">
          <%= f.submit "登録", class:"guest-register-btn" %>
        </div>

          <div class="guest-form-content">
            <%= link_to '削除', regular_guest_path(@regular_guest), method: :delete, class:'guest-delete-btn' %>
          </div>
      <% end %>

          </div>

    <%= render "shared/footer" %>

</div>