<div class="container signup-container">

<main role="main" class="signup-container-inner">



    <div class="card">

    <h2 class="signup-logo">Restaurant Talks</h2>

    <p class="signup-title">新規登録</p>

      <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      
      <div class="form-group">
        <%= f.label :ホテルのお名前 do%>ホテルのお名前<span class="badge">必須</span><% end %>
        <%= f.text_area :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :メールアドレス do%>メールアドレス<span class="badge">必須</span><% end %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード do%>パスワード<span class="badge">必須</span><% end %>
        <%# <% if @minimum_password_length %>
       <%# <P class=signup-label>（<%= @minimum_password_length %><%# 文字以上）</P> %>
        <%# <% end %> 
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"６文字以上、英数両方を含む" %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード確認 do%>パスワード確認<span class="badge">必須</span><% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :マネージャー様のお名前 do%>マネージャー様のお名前<span class="badge">必須</span><% end %>
        <%= f.text_area :managers_name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

        <%= f.submit "登録する", class: "btn btn-block signup-btn" %>

    <% end %>

      <%= render "devise/shared/links" %>
</div>
</div>
</div>
<%= render "shared/footer" %>