<%= render "shared/header" %>

<div class="container">
<div class="dailyhandover-form-container-inner">

<h4 class="title">引き継ぎ帳</h4>

<%= form_with model: @daily_handover, class:"handover-form", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

<div class="form-row">
    <div class="col input-group">
      <%= f.number_field :month, class:"form-control" %>
      <div class="input-group-append">
        <span class="input-group-text">月</span>
      </div>
    </div>
    <div class="col input-group">
      <%= f.number_field :date, class:"form-control" %>
      <div class="input-group-append">
        <span class="input-group-text">日</span>
      </div>
    </div>
    </div>
    <div class="form-group">
    <label>今日のリマーク</label>
      <%= f.text_area :daily_remark, class:"form-control form-control-lg", placeholder:"" %>
    </div>
    <div class="form-group">
    <label>早番へ</label>
      <%= f.text_area :to_morning, class:"form-control form-control-lg", placeholder:"" %>
    </div>
    <div class="form-group">
    <label>遅番へ</label>
      <%= f.text_area :to_evening, class:"form-control form-control-lg", placeholder:"" %>
    </div>
    <div class="form-group">
    <label>明日へ</label>
      <%= f.text_area :for_tomorrow, class:"form-control form-control-lg", placeholder:"" %>
    </div>
      <%= f.submit "登録する", class:"btn" %>


 
<% end %>

</div>
</div>

    <%= render "shared/footer" %>