<%= render "shared/header" %>

<div class="handover-function-backimage">
  <div class="handover-wrapper">
          
  <p class="handover-title">引き継ぎ帳</p>

      <% @daily_handovers.each do |daily_handover| %>
        <ul>
          <li>
    <div class="handover">

              <p class="handover-date"><%= daily_handover.month %>月<%= daily_handover.date %>日</p>

              <p class="handover-content-title">今日のリマーク</p>
                <p class="handover-content"><%= daily_handover.daily_remark %></p>
              <p class="handover-content-title">早番へ</p>
                <p class="handover-content"><%= daily_handover.to_morning %></p>
              <p class="handover-content-title">遅番へ</p>
                <p class="handover-content"><%= daily_handover.to_evening %></p>
              <p class="handover-content-title">明日へ</p>
                <p class="handover-content"><%= daily_handover.for_tomorrow %></p>

            <%= link_to "編集する", edit_daily_handover_path(daily_handover), class: "handover-to-edit" %>
        
          </li>
        </ul>
  </div>
      <% end %>


    <div class="handover-btn-pagenate-wrapper">
      <%= link_to '明日の引き継ぎ', new_daily_handover_path, class: "handover-resister-btn" %>
      <%= paginate(@daily_handovers) %>
    </div>


    <%= render "shared/footer" %>

</div>