<%= render "shared/header" %>

<div class="item-registration">
  <%= form_with model: @equipment, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="category">数
      <%= f.collection_select(:count_id, Count.all, :id, :name, {}, {class:"count-select"}) %>
    </div>
    <div class="register-btn">
      <%= f.submit "登録する", class:"register" %>
    </div>

    <div class='name'>名前
      <%= f.text_area :name, class:"item-name", placeholder:"アイテム名", maxlength:"40" %>
    </div>
    <div class='detail'>詳細
      <%= f.text_area :detail, class:"item-detail", placeholder:"アイテムの詳細" %>
    </div>
    <div class='image'>写真
      <%= f.file_field :image, id:"item-image" %>
    </div>
  <% end %>

  <%= link_to '詳細ページへ', equipment_path(@equipment), method: :get, class: "item-red-btn" %>
  <%= link_to '削除', equipment_path(@equipment), method: :delete, class:'item-destroy' %>


</div>


      
