<%= render "shared/header" %>

<div class="people-management-function-backimage">
<div class="number-form-outer">

  <%= form_with model: @people_management, class:"number-form", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <p class="number-title">人数管理</p>

    <div class='title morning-title'><p>朝食お客様</p>
      <%= f.number_field :morning, class:"form", placeholder:"朝食" %>
    </div>
    <div class="title hall-title"><p>ホールスタッフ</p>
      <%= f.number_field :waiter, class:"form", placeholder:"ホール" %>
    </div>
    <div class="title kitchen-title"><p>キッチンスタッフ</p>
      <%= f.number_field :kitchen, class:"form", placeholder:"キッチン" %>
    </div>
        <div class="title dishwash-title"><p>洗い場スタッフ</p>
      <%= f.number_field :dish_wash, class:"form", placeholder:"洗い場" %>
    </div>

    <div class="number-btn">
      <%= f.submit "登録する", class:"number-register-btn" %>
    </div>
  <% end %>

    <%= render "shared/footer" %>

</div>
</div>