<header class='header'>
  <div class="header-container">
    <div clas='app-logo'>
      <%= link_to 'logo', root_path, class: "logo" %>
    </div>
      <li class="menu-list">
        <ul class="menu-item"><p>朝食人数: </p><%= link_to @people_management.morning, edit_people_management_path(1), class: "menu" %></ul>
        <ul class="menu-item"><%= link_to '天気', root_path, class: "menu" %></ul>
        <ul class="menu-item"><%= link_to 'その他メニュー', other_functions_path, class: "menu" %></ul>
        <ul class="menu-item"><%= link_to 'その他メニュー', other_functions_path, class: "menu" %></ul>
        <ul class="menu-item"><%= link_to 'その他メニュー', other_functions_path, class: "menu" %></ul>
      </li>
  </div>
</header>