<ul class="basic-menu-list">
  
  <li class="basic-menu">
    <%= link_to 'フード一覧', foods_path, class: "basic-menu-btn" %>
  </li>
  <li class="basic-menu">
    <%= link_to 'ドリンク一覧', beverages_path, class: "basic-menu-btn" %>
  </li>
  <li class="basic-menu">
    <%= link_to '備品一覧', equipments_path, class: "basic-menu-btn" %>
  </li>
  <li class="basic-menu">
    <%= link_to '新規登録', new_item_path, class: "basic-menu-btn" %>
  </li>
  <li class="basic-menu">
    <%= link_to 'キッチン発注リスト', kitchen_orders_path %>
  </li>
  <li class="basic-menu">
    <%= link_to '全一覧', items_path, class: "basic-menu-btn" %>
  </li>
  
</ul>