<nav class="navbar navbar-expand-md">
    <%= link_to root_path, class:"navbar-brand" do %><span class="logo">Restaurant Talks</span><p class="subtitle">〜キッチンとホールのコミュニケーションを変える〜</p><% end %>
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse" >
    
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to foods_path, data: {"turbolinks" => false}, class: "nav-link card menu-border" do %><span>フード</span><span>一覧</span><% end %></li>
        <li class="nav-item"><%= link_to beverages_path, data: {"turbolinks" => false}, class: "nav-link card menu-border" do %><span>ドリンク</span><span>一覧</span><% end %></li>
        <li class="nav-item"><%= link_to equipments_path, data: {"turbolinks" => false}, class: "nav-link card menu-border" do %><span>備品</span><span>一覧</span><% end %></li>
        <li class="nav-item"><%= link_to new_item_path, data: {"turbolinks" => false}, class: "nav-link card menu-border" do %><span>新規アイテム</span><span>登録</span><% end %></li>
        <li class="nav-item"><%= link_to edit_people_management_path(1), data: {"turbolinks" => false}, class: "nav-link menu-border one-line" do %><span>朝食人数:　</span><span><%= @people_management.morning.to_s%></span><% end %></li>
        <li class="nav-item"><%= link_to '天気', root_path, data: {"turbolinks" => false}, class: "nav-link card menu-border one-line weather" %></li>
        <li class="nav-item dropdown"><a class="nav-link card dropdown-toggle", data-toggle="dropdown"><span class="other-menu">その他</span><span>メニュー</span></a>
         
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to 'チャット', chats_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to '引継ぎ', daily_handovers_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to 'ホール発注リスト', orders_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to 'キッチン発注リスト', kitchen_orders_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to '常連ゲスト情報', regular_guests_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to "人数管理", edit_people_management_path(1), data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to "登録情報編集", edit_user_registration_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to "このアプリの使い方", usage_of_apps_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, data: {"turbolinks" => false}, class: "dropdown-item" %>
            <%#<%= link_to '全一覧', items_path, class: "dropdown-item" %>
            <%# <%= link_to 'メニュー管理', menus_path, class: "dropdown-item" %> 
          </div>

        </li>

      </ul>
    </div>
</nav>