<%= render "shared/header" %>
<div class="container">
<main role="main" class="regular-guest-form-container-inner">
    <%= form_with model: @regular_guest, class:"guest-form", local: true do |f| %>

    <p class="title">新規ゲスト登録</p>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <label>ゲストの名前</label>
        <%= f.text_area :name, class:"form-control form-control-sm",placeholder:'ゲストの名前' %>
      </div>
      <div class='form-group'>
        <label class="guest-form-status-title">ステータス</label>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
      <div class='form-group'>
        <label>メンバーナンバー</label>
        <%= f.text_area :member_number, class:"form-control form-control", placeholder:"メンバーナンバー" %>
      </div>
      <div class='form-group'>
        <label>その他の情報</label>
        <%= f.text_area :information, class:"form-control form-control-lg", placeholder:"" %>
      </div>



          <div class="btns-wrapper">
            <%= f.submit "登録", class:"btn" %>
            <%= link_to '削除', regular_guest_path(@regular_guest), method: :delete, class:'btn' %>
          </div>

      <% end %>

          </div>
</div>

    <%= render "shared/footer" %>
