<%= render "shared/header" %>

<div class="container">
  <main role="main" class="regular-guest-container-inner">

  <h4 class="title">常連ゲスト様一覧</h4>

  <div class="btn-wrapper">
    <%= link_to '新規ゲスト登録', new_regular_guest_path, class: "btn guest-register-btn" %>
  </div>

  <table class="table table-striped table-bordered">

    <tr>
      <th class="guest-name">ゲストのお名前</th>
      <th class="member-number">会員番号</th>
      <th class="status">会員ステータス</th>
    </tr>

      <% @regular_guests.each do |regular_guest| %>
            <ul class="guest-list">
              <li class='guest'>
    <tr class="guest-link" onclick='window.location="<%= "/regular_guests/" + regular_guest.id.to_s + "/edit/" %>"' role="link">


                  <td>
                    <%= regular_guest.name %>
                  </td>
                    
                    <td>
                      <%= regular_guest.member_number %>
                    </td>

                    <td>
                      <%= regular_guest.status.name %>
                    </td>

          </tr>
              </li>
            </ul>
          <% end %>
    </table>
        
  </main>
</div>