<%= render "shared/header" %>
<div class="container">
<main role="main" class="regular-guest-form-container-inner">

    <h4 class="title">新規ゲスト登録</h4>

    <%= form_with model: @regular_guest, class:"guest-form", local: true do |f| %>


      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <label>ゲストの名前</label>
        <%= f.text_area :name, class:"form-control guest-name",placeholder:'ゲストの名前' %>
      </div>
      <div class='form-group'>
        <label class="guest-form-status-title">ステータス</label>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"form-control small"}) %>
      </div>
      <div class='form-group'>
        <label>メンバーナンバー</label>
        <%= f.text_area :member_number, class:"form-control small", placeholder:"メンバーナンバー" %>
      </div>
      <div class='form-group'>
        <label>その他の情報</label>
        <%= f.text_area :information, class:"form-control small", placeholder:"ゲストに関する情報" %>
      </div>

        <div class="btn-wrapper">
          <%= f.submit "登録", class:"btn btn-block" %>
        </div>

    <% end %>
    </div>
    </div>
    </div>

    <%= render "shared/footer" %>
