<%= render "shared/header" %>

<div class="kitchenorder-function-backimage">
  <div class="basic-content">

  <%= render "shared/basic-header" %>

  <p class="kitchen-title">キッチン発注リスト</p>

  <ul class="kitchen-list">
    <% @items.each do |item| %>
        <li class="kitchen-item">
          <%= link_to edit_item_path(item), class:'item-edit' do %>
          <div class="name">
            <%= item.name %>
          </div>
          <div class="count">
            <%= item.count %>
          </div>
          <% end %>
        </li>
    <% end %>
      </ul>
    </div>

    <%= render "shared/footer" %>

</div>