 <%= form_with model: @chat, class:"chat-form card", local: false do |f| %>

          <%= render 'shared/error_messages', model: f.object %>

      <div class="card-body">
        <div class="from-name">
          <div class="form-group">
            <label>部署</label>
            <%= f.collection_select(:from_id, From.all, :id, :name, {}, {class:"form-control form from-form"}) %>
          </div>

          <div class='form-group'>
            <label>名前</label>
            <%= f.text_area :by, class:"form-control name-form", placeholder:"名前", maxlength:"40" %>
          </div>
        </div>

          <div class='form-group'>
            <label class="message-title">メッセージ</label>
            <%= f.text_area :message, class: "form-control message-form", placeholder:"メッセージ" %>
          </div>

          <div class='form-group'>
          <label class="image-title">写真</label>
          <%= f.file_field :image, class:"form-control image-form" %>
        </div>

            <%= f.submit "送信", class:"btn" %>

        <% end %>
</div>