<div class="container login-container">

<main role="main" class="login-container-inner">

<p class="app-title">キッチンとホールの<br>コミュニケーションを変える</p>

    <div class="lognin-logo logo">Restaurant Talks</div>

  <h5>へようこそ</h5>

  <div class="card">

  <p class="login">ログイン</p>

    <%= render partial: 'layouts/flash' %>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="form-group">
          <%= f.label :email, class: "login-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "login-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

          <%= f.submit "Log in", class: "btn btn-block" %>

      <% end %>

<div class="login-register-btn">

          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn guest-login" %>
          <%= render "devise/shared/links" %>

          </div>

</div>
    </div>
    </div>

    <%= render "shared/footer" %>
