<div class="container">

<div class="login-container-wrapper">

    <div class="lognin-logo">logo</div>

  <h2 class="login">ログイン</h2>

    <%= render partial: 'layouts/flash' %>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="form-group">
          <%= f.label :email, class: "login-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "login-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

          <%= f.submit "Log in", class: "btn" %>

      <% end %>

          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn" %>
          <%= render "devise/shared/links" %>

</div>
    </div>

    <%= render "shared/footer" %>
