<%= render "shared/header" %>

<div class="container">
  <main role="main" class="item-container-inner">

    <p class="title">アイテム編集画面</p>

    <%= form_with model: @item, class:"item-form", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="top-wrapper">

      <div class="name-number card">
        <div class='form-group card-body'>
          <label class="label-title">アイテム名</label>
          <%= f.text_area :name, class:"form-control item-name", placeholder:"", maxlength:"40" %>
        </div>
        <div class="form-group card-body">
          <label class="label-title">数量</label>
          <div class="btn-wrapper">
           <button class="btn" id="down">－</button>
          <%= f.number_field :count, class:"form-control item-count", placeholder:"" %>
          <button class="btn" id="up">＋</button>
        </div>
</div>
          <%= f.submit "登録する", class:"btn" %>
      </div>

      <div class='image form-group card'>
        <div class="card-body">
          <label class="image-title">写真</label>
          <%if @item.image.present? %>
              <%= f.file_field :image, class:"image-form form-control" %>
            </div>
            <div id="image-list"></div>
              <div class="img-wrapper"><%= image_tag @item.image %></div>
          </label>
          <% else %>
              <%= f.file_field :image, class:"image-form form-control" %>
            </div>
            <div id="image-list"></div>
            <p>画像はありません。</p>
          <% end %>
        </div>

      </div>

        <div class="bottom-wrapper">

          <div class="category-place">
            <div class="form-group">
              <label class="category-title">カテゴリー</label>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
            </div>

            <div class="form-group">
              <label class="place-title">場所</label>
              <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"form-control"}) %>
            </div>

          </div>

          <div class='form-group detail'>
            <label class="detail-title">詳細</label>
            <%= f.text_area :detail, class:"detail-form form-control", placeholder:"アイテムの詳細" %>
          </div>

        </div>
          
          <div class="link-list">
            <%= link_to '削除する', item_path(@item), method: :delete, class:'btn other-btn' %>
            <%= f.submit "登録する", class:"btn register-btn" %>
            <%= link_to '詳細ページ', item_path(@item), method: :get, class: "btn other-btn" %>
          </div>
      </div>
    <% end %>
  </div>

<%= javascript_pack_tag 'count' %>
<%= javascript_pack_tag 'preview' %>