<%= render "shared/header" %>

<div class="container">
  <%= render "shared/basic-header" %>
  <div class="item-container-inner">

      <%= form_with model: @item, class:"item-form", local: true do |f| %>
        
        <p class="item-form-title">新規アイテム登録</p>

        <%= render 'shared/error_messages', model: f.object %>

        <div class='form-group'>
          <label class="title name-title">アイテム名</label>
          <%= f.text_area :name, class:"form-control form-control-sm", placeholder:"", maxlength:"40" %>
        </div>
        <div class="form-group">
          <label class="title count-title">数量</label>
          <%= f.number_field :count, class:"form-control form-control-sm", placeholder:"" %>
        </div>

        <div class="form-group">
          <label class="title category-title">カテゴリー</label>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
        </div>

        <div class="form-group">
          <label class="title place-title">場所</label>
          <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"form-control"}) %>
        </div>

        <div class='form-group'>
          <label class="title detail-title">詳細</label>
          <%= f.text_area :detail, class:"form-control form-control-lg", placeholder:"アイテムの詳細" %>
        </div>

        <div class='form-group'>
          <label class="title image-title">写真</label>
          <%= f.file_field :image, class:"form-control" %>
        </div>
        
          <%= f.submit "登録する", class:"btn" %>
        
      <% end %>
      </div>
  </div>
      <%= render "shared/footer" %>
