<%= render "shared/header" %>

<div class="basic-registration-backimage">
  <div class="basic-content">
  <%= render "shared/basic-header" %>

    <div class="item-registration">
      <%= form_with model: @item, class:"item-form", local: true do |f| %>
        
        <p class="item-form-title">新規アイテム登録</p>

        <%= render 'shared/error_messages', model: f.object %>

        <div class='form name-form'>
          <p class="title name-title">アイテム名</p>
          <div class="form-inner">
            <%= f.text_area :name, class:"item item-name", placeholder:"", maxlength:"40" %>
          </div>
        </div>
        <div class="form count-form">
          <p class="title count-title">数量</p>
          <div class="form-inner">
          <%= f.number_field :count, class:"item item-count", placeholder:"" %>
        </div>
        </div>

        <div class="form category-form">
          <p class="title category-title">カテゴリー</p>
          <div class="form-inner">
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"item item-category"}) %>
        </div>
        </div>

        <div class="form place-form">
          <p class="title place-title">場所</p>
          <div class="form-inner">
          <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"item item-place"}) %>
        </div>
        </div>

        <div class='form detail-form'>
          <p class="title detail-title">詳細</p>
          <div class="form-inner">
          <%= f.text_area :detail, class:"item item-detail", placeholder:"アイテムの詳細" %>
        </div>
        </div>

        <div class='form image-form'>
          <p class="title image-title">写真</p>
          <div class="form-inner">
          <%= f.file_field :image, class:"item item-image" %>
        </div>
        </div>
        
        <div class="basic-submit">
          <%= f.submit "登録する", class:"register-btn" %>
        </div>
        
      <% end %>
      </div>
      <%= render "shared/footer" %>

  </div>