<%= render "shared/header" %>

<div class="container">
  <main role="main" class="item-show-container-inner">

    <h4 class="title">アイテムの詳細</h4>

      <table class="basic-table">

        <tr>
          <th class="detail-item">アイテム名</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>

        <tr>
          <th  class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>

        <tr>
          <th  class="detail-item">提供場所</th>
          <td class="detail-value"><%= @item.place.name %></td>
        </tr>

        <tr>
          <th class="detail-item">残数</th>
          <td class="detail-value"><%= @item.count %></td>
        </tr>

        <tr>
          <th  class="detail-item">詳細</th>
          <td class="detail-value"><%= @item.detail %></td>
        </tr>

        <tr>
          <th class="image-title detail-item">画像</th>
          <td class="detail-value detail-image">
            <%if @item.image.present? %>
              <%= image_tag @item.image %>
            <% else %>
              <p>画像はありません。</p>
          <% end %>
          </td>
        </tr>

      </table>

    <div class="btns">
      <%= link_to "修正ページへ", edit_item_path(@item), class:'btn to-edit' %>
      <%= link_to '削除する', item_path(@item), method: :delete, class:'btn' %>
    </div>

  </main>
</div>
