<%= render "shared/header" %>

<div class="people-management-function-backimage">
<div class="number-form-outer">

  <%= form_with model: @people_management, class:"number-form", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <p class="number-title">人数管理</p>

    <div class='morning-title'>朝食
      <%= f.number_field :morning, class:"", placeholder:"朝食" %>
    </div>
    <div class="hall-title">ホール
      <%= f.number_field :waiter, class:"", placeholder:"ホール" %>
    </div>
    <div class="kitchen-title">キッチン
      <%= f.number_field :kitchen, class:"", placeholder:"キッチン" %>
    </div>
        <div class="dishwash-title">洗い場
      <%= f.number_field :dish_wash, class:"", placeholder:"洗い場" %>
    </div>

    <div class="number-btn">
      <%= f.submit "登録する", class:"number-register-btn" %>
    </div>
  <% end %>
    <%= render "shared/footer" %>

</div>
</div>