




<%= render "shared/header" %>

<% @kitchens.each do |kitchen| %>
  <ul>
    <li>
      <%= link_to kitchen_management_path(kitchen), class: 'edit-kitchen' do %>
        <div class="kitchen-name">
          <p>名前</p>
          <%= kitchen.name %>
        </div>
        <%= kitchen.category.name %>
        <%= kitchen.count.name %>
        
      <% end %>
    </li>
  </ul>
<% end %>
